*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b9d1ff;
}
header img{
    margin: 10px;
}
.mobile-icon, .mobileIcon{
    display: none;
}
.navbar{
    display: flex;
    text-transform: uppercase;
    margin: 10px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    display: flex;
     margin-right: 40px;
     color: black;

}
.navbar ul a{
    text-decoration: none;
}
.navbar ul li span{
    color: #F20A0A;
}
.bor{
    border-bottom: 2px solid #F20A0A;
}
.father{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
}
.father h2{
    font-size: 60px;
    color: white;
}
.father h2 span{
    color: #F20A0A;
}
.father h3{
    font-family: Roboto;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    color: white;
}
.father button{
height: 45px;
width: 150px;
color: #F20A0A;
border-radius: 15px;
border: none;
margin-top: 20px;
}
.father img{
width: 500px;
height: 450px;
}
.mother-1{
    display: flex;
    justify-content:space-between;
    padding: 50px;
    align-items: center;
}
.mother-2 h2{
font-family: Roboto;
font-size: 30px;
font-weight: 400;
text-align: left;
margin-bottom: 20px;
}
.mother-2 h3{
font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 20px;
}
.mother-2 button{
    background: #222222;
    height: 40px;
    width: 120px;
    color: white;
    border: none;
}
.mother-3 img{
    margin-right: 20px;
}
.mother-4{
    display: flex;
    padding: 50px;
    align-items: center;
}
.mother-5{
    margin-right: 80px;
}
.mother-6 h2{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
    }
    .mother-6 h3{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
    }
    .mother-6 button{
        background: #222222;
        height: 40px;
        width: 120px;
        color: white;
        border: none;
    }
    .black{
        background-color: #0D0D0D;
        color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
    }
    .uncle{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 50px;
        text-align: center;
    }
    .uncle-1{
        display: flex;
        align-items: center;
    }
    .uncle-1 img{
        padding-right: 100px;
        margin-bottom: 90px;
    }
    .uncle-2{
        display: flex;
        align-items: center;
    }
    .uncle-2 img{
        margin-right: 80px;
    }
    .uncle h3{
        margin-top: 60px;
    }
    .uncle h3 span{
        color: #F20A0A;
    }
    footer{
        background-color: #0D0D0D;
        color: #fff;
        display: flex;
        align-items: center;
        
    }
    .footer-1{
        margin-left: 240px;
        margin-right: 90px;
        font-size: 16px;
font-family: 'Roboto';
    }
    .footer-1 h2{
        font-family: 'Rage Italic';
font-style: italic;
font-weight: 400;
font-size: 30px;
margin-bottom: 14px;
color: #FFFFFF;

    }
    .footer-2{
        margin-right:120px;
        font-family: 'Roboto';
        font-size: 16px;
    }



    @media(max-width:990px){
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
            width: fit-content;
        }
        body{
            width: 320px !important;
        }
        header{
            display: grid;
            width: 320px;
            justify-content: space-between !important;
        }
        header img{
            padding: 0;
            margin: 0;
            margin-right: 125px;
            position: sticky;
        }
        .mo{
            display: flex;
        }
        
    .mobile-icon{
        display: block;
        cursor: pointer;
        width: 20px;
    }
    .mobileIcon{
        display: none;
    }
    .navbar{
        display: none;
        background-color: #b9d1ff;
        width: 320px;
        padding: 0;
        margin: 0;
        display: grid;
        text-align: left;
    }
    
    .navbar ul{
        display: block;
         text-align: left !important;
         display: grid !important;
    }
    .navbar ul li{
        list-style-type: none;
    }
    .navbar ul a{
        display: grid;
        text-align: left;
    }

    .mobileIcon:checked~.navbar{
        display: grid;
        position: absolute;
        padding: 10px;
        display: none;
    }
    .mob{
        display: grid !important;
        text-align: start !important;
    }
        .father{
            display: grid;
            justify-content:center !important;
            margin: 0 !important;
            padding: 0 !important;
            align-items: center !important;
            width: 320px;
        }
        .father h2{
            margin-left: 30px;
            font-size: 30px;
        }
        .father h3{
            margin-left: 30px;
            font-size: 20px;
        }
        .father button{
            margin-left: 30px;
            text-align: center;
            align-items: center;
        }
        .father img{
            align-items: flex-start;
            padding: 0 !important;
            margin: 0 !important;
            width: 330px ;
        }
        .mother{
            display: grid;
        }
        .mother-1{
            display: grid;
            padding: 0 !important;
            margin-left: 20px;
        }
        .mother-2 h2{
            font-size: 20px;
            margin: 0;
            padding: 0;
            font-size: 19px;
        }
        .mother-2 h3{
            font-size: 13px;
        }
        .mother-2 button{
            width: 280px;
            margin-bottom: 30px;
            align-items: center;
        }
        .mother-3 img{
            width: 280px !important;
        }
        .mother-4{
            display: grid;
            padding: 0;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
        }
        .mother-6 button{
            width: 280px;
            margin-bottom: 30px;
        }
        .mother-5 img{
            width: 280px !important;
            margin-top: 20px;

        }
        .mother-6 h2{
            font-size: 15px;
            margin-top: 20px;
        }
        .mother-6 h3{
            font-size: 13px;
        }
        .black{
            font-size: 8px;
            margin-left: 5px;
            width: 300px;
        }
       
        .uncle{
            align-items: center !important;
            justify-content: center !important;
        }
        .uncle-1{
            display: grid;
            
        }
        
        .uncle-2{
            display: grid;
            
        }
        .uncle h3{
            text-align: center !important;
            padding: 0;
            margin: 0;
            font-size: 11px;
        }
      
        footer{
            display: grid;
            justify-content:center !important;
            margin: 0 !important;
            padding: 0 !important;
            align-items: center !important;
           width: 320PX;
        }
        .footer-1{
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
             font-size: 15px;
             
        }
        .footer-2{
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
             font-size: 15px;
             
        }
        .footer-3{
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
             font-size: 15px;
             
        }   
    }