*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b9d1ff;
}
.moo{
    display: flex;
}
.mo{
    display: grid;
}
header img{
    margin: 10px;
}
.mobile-icon, .mobileIcon{
    display: none;
}
.navbar{
    display: flex;
    text-transform: uppercase;
    margin: 10px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    display: flex;
     margin-right: 40px;
     color: black;

}
.navbar ul a{
    text-decoration: none;
}
.navbar ul li span{
    color: #F20A0A;
}
.bor{
    border-bottom: 2px solid #F20A0A;
}

.father{
    display: grid;
    margin-left: 200px;
    margin-right: 200px;
}
.father-1{
    display: flex;
    margin-top: 30px;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 75px;
}

.father-2 img{
width: 400px;
height: 450px;

margin-bottom: 30px;
}

.fat{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
h3{
    margin-top: 60px;
    text-align: center;
}
h3 span{
    color: #F20A0A;
}
footer{
    background-color: #0D0D0D;
    color: #fff;
    display: flex;
    align-items: center;
    
}
.footer-1{
    margin-left: 240px;
    margin-right: 90px;
    font-size: 16px;
font-family: 'Roboto';
}
.footer-1 h2{
    font-family: 'Rage Italic';
font-style: italic;
font-weight: 400;
font-size: 30px;
margin-bottom: 14px;
color: #FFFFFF;

}
.footer-2{
    margin-right:120px;
    font-family: 'Roboto';
    font-size: 16px;
}


@media(max-width:990px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
        width: fit-content;
    }
    body{
        width: 320px !important;
    }
    header{
        background: #b9d1ff;
        display: grid;
        justify-content: space-between !important;
        align-items: center;
       }
        header img{
            padding: 0;
            margin: 0;
            position: sticky;
        }
        .mock{
            margin-right: 125px;
        }
        .mo{
            display: flex;

        }
        
    .mobile-icon{
        display: block;
        cursor: pointer;
        width: 20px;
    }
    .mobileIcon{
        display: none;
    }
    .navbar{
        display: none;
        background-color: #b9d1ff;
        
        padding: 0;
        margin: 0;
        display: grid;
        text-align: left;
    }
    
    .navbar ul{
        display: block;
         text-align: left !important;
         display: grid !important;
    }
    .navbar ul li{
        list-style-type: none;
        margin-left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .navbar ul a{
        display: grid;
        text-align: left;
    }

    .mobileIcon:checked~.navbar{
        display: grid;
        position: absolute;
       
        display: none;
    }
    .mob{
        display: grid !important;
        text-align: start !important;
    }
.father{
    margin: 0 !important;
}
    .father-1{
        margin: 0 !important;
        padding: 0 !important;
        justify-content: space-between !important;
        width: 100%;
    }
    .father-1 span{
        display: flex;
    }
    .father-1 h3{
        margin-left: 10px !important;
    }
    .fat{
        display: grid;
    }
    .father-2 img{
        width: 280px;
        height: 280px;
        margin-left: 20px !important;
        margin-bottom: 20px !important;
    }

    h3{
        text-align: center !important;
        padding: 0;
        margin: 0;
        font-size: 11px;
    }
    footer{
        display: grid;
        justify-content:center !important;
        margin: 0 !important;
        padding: 0 !important;
        align-items: center !important;
        
       
    }
    .footer-1{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
         font-size: 15px;
         width: 320px;
    }
    .footer-2{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
         font-size: 15px;
         width: 320px;
    }
    .footer-3{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
         font-size: 15px;
         width: 320px;
    }


}
